@import "_productsWizard";
@import "_productsSidebar";
@import "_banner";
@import "_rangeSlider";


.products_content{
    gap: 16px;
    .products_slider.best_sell{
        .desktop_slider_wrapper{
            width:1100px;
        @include respond(laptop){
         width:950px;
        }
        }
        .mobile_slider_wrapper{
            width: 382px;
        }
    }
}