.products_wizard{
h6{
    span{
        font-weight: 400;
font-size: 14px;
line-height: 22px;
text-align: right;
color: #7D7D7D;
margin-left: 4px
    }
    :last-child{
        color: #3a3a3a
    }
};
height: 22px;
}