.most_product_info {
  padding: 0px;
  gap: 16px;
  width: 100%;
  .most_info {
    @include flex_position(column, flex-start, flex-start);
    padding: 0px;
    gap: 32px;
    ///////////intro-nav-section-styles////////
    .product_nav_section {
      .intro_navbar {
        gap: 24px;
        .nav {
          font-weight: 700;
          font-size: 14px;
          color: #4f4f4f;
          border: none;
          background: none;
          width: 116px;
          height: 41px;
          @include flex_position(row, center, center);
        }
        .nav.active_nav {
          background: #f7f7f7;
          color: #c2123c;
          border-radius: 4px;

          .under_red_line {
            width: 84px;
            height: 1px;
            background: #f23b51;
            border-radius: 3px;
          }
        }
      }
      .article_introduction {
        margin-top: 40px;
        div.text_wrapper {
          padding-right: 52px;
          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            text-align: right;
            color: #282828;
          }
        }
      }
    };
    ////speci section///
    .product_specifics_section {
      .article_specifications {
        div.speci_wrapper {
          .indent {
            padding-right: 44px;
            @include respond(mobile){
            padding-right: 8px ;
          }
          }
        }
      }
    }
    /////similar-producs-section///
    .similar_products_section {
      .product_desktop_slider_wrapper {
        @include respond(laptop){
          max-width:910px !important;
      }
      @include respond(extra){
          max-width:1050px !important;
      }
      
      }
      .product_mobile_slider_wrapper {
        width: 382px!important;
      }
    }
  }
}
