.single_product_info {
  @include flex_position(row, flex-start, flex-start);
  padding: 0px;
  gap: 16px;
  width: 100%;
}
.pricing_sidebar {
  @include flex_position(column, flex-start, flex-start);
  padding: 0px;
  gap: 8px;
  height: 518px;
  .pricing_card {
    @include flex_position(column, flex-start, center);
    padding:16px;
    gap: 16px;
    width: 306px;
    height: 393px;
    background: #f2f2f2;
    border-radius: 16px;
    .store_info {
      width: 100%;
      @include flex_position(column, flex-start, center);
      gap: 16px;
      section {
        width: 100%;
        border-bottom: 1px solid #ffffff;
        .store_name {
          font-weight: 700;
          font-size: 14px;
          text-align: right;
          color: #282828;
        }
      }
      .top {
        h5 {
          font-weight: 700;
          font-size: 14px;
          line-height: 22px;
          text-align: right;
          color: #7d7d7d;
        }
        .store {
          width: 100%;
          @include flex_position(row, space-between, center);
          padding: 0px;
          gap: 4px;
        }
      }
      .available {
        .shiping {
          padding: 0px 16px 0px 0px;
          span {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            text-align: right;
            color: #4f4f4f;
          }
        }
      }
    }

  }
  .warning {
    :last-child {
      font-weight: 400;
      font-size: 14px;
      text-align: right;
      color: #4f4f4f;
      line-height: 22px;
      margin-right: 6px;
    }
  }
}
