.add_to_card {
  @include respond(mobile) {
    background: #ffffff;
    padding: 4px;
  }
  .discount_price {
    width: 100%;
    .pricing {
      padding: 0px;
      width: 100%;
      .product_price {
        @include flex_position(row, flex-end, center);
        padding: 0px;
        gap: 2px;
        width: 100%;
        :first-child {
          font-weight: 900;
          font-size: 18px;
          line-height: 28px;
          text-align: right;
          color: #333333;
        }
        :last-child {
          font-weight: 400;
          font-size: 12px;
          line-height: 19px;
          text-align: right;
          color: #4f4f4f;
        }
      }
      .product_dicount {
        @include flex_position(row, space-between, center);
        padding: 0px;
        gap: 2px;
        width: 100%;
        .discount_bag {
          padding: 4px 12px;
          width: 48px;
          height: 30px;
          background: $brand-primary-color;
          border-radius: 80px;
          font-weight: 700;
          font-size: 14px;
          line-height: 22px;
          text-align: center;
          color: #ffffff;
        }
        .discount_value {
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          text-decoration-line: line-through;
          color: #bdbdbd;
        }
      }
    }
  }
  .addto_basket {
    width: 100%;

    @include flex_position(row, center, center);
    .addto_basket_button {
      width: 100%;
      height: 48px;
      @include flex_position(row, center, center);
      padding: 8px 24px;
      gap: 8px;
      background: linear-gradient(252.18deg, #d72339 0.28%, #f23b51 93.8%);
      border-radius: 24px;
      font-weight: 700;
      font-size: 14px;
      color: #ffffff;
    }
  }
}
.float_addtocard {
  height: 0;
}
///////desktop_swiper///// //////////////////////////

.desktop_swiper {
  background: #f7f7f7;
  border-radius: 24px;
  position: relative;
  height: 218px;
  .swiper {
    height: 100%;
    .swiper-wrapper {
width: 100%!important;
      .swiper_image_wrapper {
        width: 112px;
        height: 112px;
        position: relative;
        margin: auto;
      }
      .discount_info {
        @include flex_position(column, center, center);
        width: 100%;
        padding: 16px;
        h4 {
          display: none;
        }
        .price {
          @include flex_position(row, flex-end, flex-start);
          width: 100%;
          span {
            font-weight: 900;
            font-size: 18px;
            line-height: 28px;
            text-align: right;
            color: #333333;
            .toman {
              font-weight: 400;
              font-size: 12px;
              line-height: 19px;
              text-align: right;
              color: #4f4f4f;
            }
          }
        }
        .discount {
          @include flex_position(row, space-between, center);
          width: 100%;

          .discount_bag {
            padding: 4px 12px;
            width: 48px;
            height: 30px;
            background: $brand-primary-color;
            border-radius: 80px;
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            color: #ffffff;
          }
          span {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            text-decoration-line: line-through;
            color: #bdbdbd;
          }
        }
      }
    }

    .swiper-button-prev {
      position: absolute;
      right: 0;
      top: calc(50%);
      &::after {
        content: url("/assets/images/Arrow.svg");
      }
    }
    .swiper-button-next {
      position: absolute;
      left: 0px;
      top: calc(50%);
      &::after {
        content: url("/assets/images/Arrow2.svg");
      }
    }
    .swiper-pagination {
      display: none;
    }
  }
}
///mobile swiper//////
.mobile_swiper {
  @extend .desktop_swiper;
}
