////extends////////
.navigate_icon_next {
  position: absolute;
  right: 0;
  top: calc(50%);
  &::after {
    content: url("/assets/images/Arrow.svg");
  }
}
.navigate_icon_prev {
  position: absolute;
  left: 0px;
  top: calc(50%);
  &::after {
    content: url("/assets/images/Arrow2.svg");
  }
}
.small_swiper {
  background: #f7f7f7;
  border-radius: 24px;
  position: relative;
  .swiper-button-prev {
    @extend .navigate_icon_next;
  }
  .swiper-button-next {
    @extend .navigate_icon_prev;
  }
  .swiper-pagination {
    display: none;
  }
};
/////colors/////
.text-gray{
  color:$text-gray-color ;
}
.text-gray-2{
  color: #4F4F4F;
}
.brand-text{
  color:$brand-primary-color
}
.brand-secondary{
  color: #C2123C;
}
.text-white{
  color: $secondary-text-color;
}
.text-black-3{
  color:$text-black-3;
};
.text-h-color{
color: #282828;
}
.bg-main{
  background-color: $main-bg-color;
}
.brand-bg{
background-color:$brand-primary-color;
}
.bg-gray{
  background-color:  #F7F7F7;;
}
/////font-size///
.fs-12{
  font-size:$mute-font-size;
};
.fs-14{
  font-size: 14px;
};
.fs-16{
  font-size: 16px;
};
.fs-18{
  font-size: 18px;
}
.fs-24{
  font-size: 24px;
}
.fw-400 {
  font-weight: 400;
}
/////////////////---///////
.border-red{
  border: 1px solid red;
}
/////other////
.cursor-pointer{
  cursor: pointer;
}
.round-24{
  border-radius: 24px;
}
.left-0 {
  left:0
}
.h-38{
  height: 38px;
}
.h-40{
  height: 40px;
}