.mobile_header {
    .header_wrapper{
        @include flex_position(row,flex-start,center);
        padding: 12px 16px;
        gap: 8px;
        height: 49px;
        filter: drop-shadow(0px 0px 24px rgba(189, 182, 183, 0.25));
        border-radius: 40px;
        .header_title {
          font-weight: 900;
          font-size: 16px;
          line-height: 25px;
          color: #c2123c;
        }

    }
   @include respond(mobile){
    padding-right:0px!important;
    .header_wrapper{
      padding: 12px 0;
  
    }
   }
}
