$main-bg-color:#FFFFFF;
$navbar-bg-color:#FFFFFF;
$brand-primary-color:linear-gradient(252.18deg, hsl(353, 72%, 49%) 0.28%, #F23B51 93.8%);
$grid-card-bg-color:#F2F2F2;
$main-text-color:#212121;
$secondary-text-color:#FFFFFF;


$font-root:"/assets/fonts";
$font-size:16px;
$font-color:#3D3D3D;
$button-hover-bg-color:#ff385d6f;
$secondary-bg-color:rgba(255, 255, 255);

$text-primary-color:#000000;
$text-secondary-color:#717171;