.Login_desktop {
  .card_wrapper{
    width: 384px;
  }
  .big_dashed_border{
    position: absolute;
width: 900px;
height: 900px;
right: 572px;
top: -200px;
padding: 34px;

@include respond(extra){
  width: 991px;
height: 991px;
}
border-radius: 50%;
background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='991' ry='991' stroke='%23C2123C70' stroke-width='2' stroke-dasharray='2%25%2c 2%25' stroke-dashoffset='100' stroke-linecap='butt'/%3e%3c/svg%3e");

.inner{
background: #FFFFFF;
box-shadow: 0px 0px 80px rgba(204, 188, 190, 0.25);
border-radius: 50%;
.image_wrapper{
    width: 467px;
height: 430px;
}
}
  }
  .litle_dashed_border{
    @extend .big_dashed_border;
    width: 371px;
    height: 371px;
   right: -185px;
         top: 410px;
    padding:12px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='371' ry='371' stroke='%23C2123C70' stroke-width='2' stroke-dasharray='6%25%2c6%25' stroke-dashoffset='100' stroke-linecap='butt'/%3e%3c/svg%3e");
    @include respond(extra){
        right: -158px;
        top: 470px;
    }

  }
}
